In [2]:
import gurobipy as gp
from gurobipy import GRB
import numpy as np
import pandas as pd

In [4]:
dataFrame = pd.read_csv('draft_data.csv')
dataFrame

   numberOfFirstSailings  Unnamed: 1
0                      8         NaN
1                      3         NaN
2                      4         NaN
3                      2         NaN
4                      6         NaN

In [ ]:
# Constrain 1a: forces that each line has exactly one initial departure.